fastapi
uvicorn[standard]
pydantic
python-dotenv
openai
chromadb
huggingface_hub
numpy
langchain-classic
requests
pypdf
langchain-text-splitters
langchain-core
sentence-transformers
huggingface-hub
groq
google-generativeai
azure-ai-inference
azure-core
gradio
